body {
	background-image: url("img/question.png");
}

#container{
	text-align: center;
	margin: 400px auto;
}

h1 {
	color: white;
    text-shadow: -1px 0 #14a7cc, 0 3px #14a7cc, 3px 0 #14a7cc, 0 -1px #14a7cc;
}}